<html>
 <head>
 	<title>Peap</title>
 	<link href='css/bootstrap.css' rel='stylesheet'>
 </head>
<body>
  <div class='container'>
   <div class='header'>
   	 <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/messages/index">Home</a></li>
            <li role="presentation"><a href="/posts">Post</a></li>
            <li role="presentation"><a href="/stories">All Peaps</a></li>
            <li role="presentation"><a href="/problems">Peap</a></li>

          </ul>
        </nav>
   </div> <!--header-->
   <div class='jumbotron'>
      <h1>PEAP</h1>
      <p> Peace in Pain </p>
   </div> <!--jumbotron-->

   <div class='row'>
     <div class='col-md-4'>
        Find your peap
     <div> <!--first col-->
     <div class='col-md-4'>
         Social Media is superficial.
We are much more than our pictures and the places we’ve visited. 
Peep into your life
Share a peap
Show your true self
Help others find their peap
     </div> <!--second col-->
     <div class='col-md-4'>

     </div> <!--third col-->
   </div> <!--row-->

  </div> <!--container-->

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
</body>
</html>