<html>
 <head>
 	<title>Peap</title>
 	<link href='stylesheets/bootstrap.css' rel='stylesheet'>
 	<link href='stylesheets/messages.css' rel='stylesheets'>
 </head>
<body>
  <div class='container'>
   <div class='header'>
   	 <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/messages/index">Home</a></li>
            <li role="presentation"><a href="/posts/index">Post</a></li>
            <li role="presentation"><a href="/stories/index">All Peaps</a></li>
            <li role="presentation"><a href="/problems">Peap</a></li>

          </ul>
        </nav>
   </div> <!--header-->

   <div class="jumbotron">
      <h1>PEAP</h1>
      <p> Peace in Pain </p>
   </div> <!--jumbotron-->
   
 
      <div class="row marketing">
        <div class="col-md-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Find your Peap</h2>
          <!--<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p> -->
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
         <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
          <h2>Post a Peap</h2>
          <h3>Help others find their Peap</h3>
          <!-- <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p> -->
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Explore All Peaps</h2>
          <!-- <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> -->
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div> <!--container-->

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="javascripts/bootstrap.min.js"></script>
</body>
</html>