<html>
<head>
  <title>Peap</title>
  <link href='stylesheets/bootstrap.css' rel='stylesheet'>
  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="javascripts/bootstrap.min.js"></script>
  <script>
     var main = function() {
        $('.co').animate({cy: '50px'}, 
          1900, function(){
            $('.co').css("fill", "yellow");
            $('.c1').fadeTo("slow", 0.4);
            $('.c2').fadeTo("slow", 0.2);
            $('.c3').fadeTo("slow", 0.2);
            $('.he').css("opacity", 1);

        });
     };

     $(document).ready(main);
  </script>
  <style>

    .jumbotron {
      height: 700px;
      background-color: rgba(42, 162, 162, 0.2);
    }

    .circleh {
    margin-left: 150px;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border-color: #000000;
    color: transparent;
    } 

    .he {
      opacity: 0.1;
    }

  </style>
</head>
<body>
  
  <div class="jumbotron">
    <h1 class="text-center">PEAP</h1>
    <p class="text-center">Find peace in pain</p>
    <div class="he text-center">
       <p>OR Help others find peace in pain</p>
    </div>
    <svg width="900" height="500" style="margin-left:150px; margin-top: 50px;">
      <circle cx="470" cy="200" r="150" fill="#00e6e6" class="c1"/>
      <circle cx="300" cy="240" r="150" fill="#ffffff" class="c2"/>
      <circle cx="620" cy="250" r="130" fill="#00cccc" class="c3" />
      <circle cx="50" cy="250" r="50" class="co" id="co" />
      <path d="M 50 100 L 62 110 68 97 " fill="yellow" />
      <path d="M 80 90 L 92 100 98 87 " fill="yellow" />
      <path d="M 110 100 L 62 110 68 97 " fill="yellow" />
      <path d="M 50 100 L 62 110 68 97 " fill="yellow" />


        <line x1="470" y1="250" x2="470" y2="200" style="stroke:rgb(255,0,0);stroke-width:5" />
      <line x1="470" y1="210" x2="450" y2="230" style="stroke:rgb(255,0,0);stroke-width:5" />
       <line x1="470" y1="210" x2="490" y2="230" style="stroke:rgb(255,0,0);stroke-width:5" /> 
      
       <line x1="470" y1="250" x2="450" y2="270" style="stroke:rgb(255,0,0);stroke-width:5" /> 
      <line x1="470" y1="220" x2="460" y2="210" style="stroke:rgb(255,0,0);stroke-width:5" />


      <line x1="470" y1="220" x2="480" y2="210" style="stroke:rgb(255,0,0);stroke-width:5" /> 
      <line x1="470" y1="250" x2="490" y2="270" style="stroke:rgb(255,0,0);stroke-width:5" /> 
      <circle cx="470" cy="195" r="8" style="fill:rgb(255,0,0);"/>

      <rect y="270" width="900" height="200" style="fill:#ffffff;" />

      
    </svg>
    <div class="circleh"></div>
  </div>
</body>
</body>
</html>