<html>
 <head>
 	<title>Peap</title>
 	<link href='css/bootstrap.css' rel='stylesheet'>
 </head>
<body>
  <div class='container'>
   <h1>Lets do it</h1>
   <p> You got this</p>
  </div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
</body>
</html>