<!DOCTYPE html>
<html lang=“en”>
<head>
  <link href='bootstrap.css' rel='stylesheet'>
</head> 

<body>
    <div class="menu" id="men">
		  <h1>MENU</h1>
          <a href="#">HOME</a>
          <br>
	      <a href="#">SUBMIT A STORY</a>
          <br>
          <a href="#">ALL STORIES</a>
          <br>
		  <a href="#">Log In</a>
          <br>
		  <a href="#">Help</a>
    </div>
	<div class="menuholder">
		<button type="button" class="btn-default3">
	   		<span class="glyphicon glyphicon-king"></span> Menu
		</button>
	</div>
	<div class="problemtalk">
        <div class=bubble>
            <p>Hey!
               <br>
               How are you feeling today? </p>
        </div>
        <div class=bubble2>
          <form>
                <label for="feel">I feel</label>
                <input type="search" name="feelsearch" id="feel">
          </form>
        </div>
        <button type="button" class="btn-default" aria-label="Right Chevron">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
            </span>
        </button>
        <div class=bubble3 id="bub">
        	<p>Why? 
             <br>
             What Happened?
          </p>
        </div>
        <div class=bubble4 id="bubble4">
        	<form>
                <label for="about">It is about my </label>
                <input type="text" id="input1">
                <br>
                <br>
                <br>
                <label for="situation">I </label>
                <input type="text" id="input2">
            </form>
		<div class="boxx" id="boxx"></div>
		<div class="controls">
	      <%= collection_select( :matter, :matter_id, Matter.all, :content, :content) %>
	    </div>
		
        </div>
		<a href="/stories/index">
          <button type="button" class="btn-default2" aria-label="Right Chevron">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
            </span>
          </button>
	    </a>
	</div>
  <script src="/problems.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="bootstrap.min.js"></script>
</body>
</html>

