<!DOCTYPE html>
<html lang=“en”>
<head>
  <link href='stylesheets/bootstrap.css' rel='stylesheet'>
  <script>
    var main = function() {
  $('.bubble').animate({
    top: '0px'
  }, 900, function () {
    $('.bubble2').fadeIn(2500);
    $('.btn-default').fadeIn(2500);
      });
  
  $('.btn-default').click(function() {
    document.getElementById('bub').style.display = "block"
    $('.bubble3').animate({
      top: '150px'
    }, 2000, function() {
      $('.bubble4').fadeIn(2500);
      $('.btn-default2').fadeIn(2500);
    });
  });

  $("#input").keyup( function() {
    var input = $("#input").val();
  });
  
  $('.btn-default3').click(function() {
    $('.menu').animate({
      left: '0px'
    }, 2000);
  });
};

  $(document).ready(main);
  </script>
</head> 

<body>
    <div class="menu" id="men">
		  <h1>MENU</h1>
          <a href="#">HOME</a>
          <br>
	      <a href="#">SUBMIT A STORY</a>
          <br>
          <a href="#">ALL STORIES</a>
          <br>
		  <a href="#">Log In</a>
          <br>
		  <a href="#">Help</a>
    </div>
	<div class="menuholder">
		<button type="button" class="btn-default3">
	   		<span class="glyphicon glyphicon-king"></span> Menu
		</button>
	</div>
	<div class="problemtalk">
        <div class=bubble>
            <p>Hey!
               <br>
               How are you feeling today? </p>
        </div>
        <div class=bubble2>
          <form>
                <label for="feel">I feel</label>
                <input type="search" name="feelsearch" id="feel">
          </form>
        </div>
        <button type="button" class="btn-default" aria-label="Right Chevron">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
            </span>
        </button>
        <div class=bubble3 id="bub">
        	<p>Why? 
             <br>
             What Happened?
          </p>
        </div>
        <div class=bubble4 id="bubble4">
        	<form>
                <label for="about">It is about my </label>
                <input type="text" id="input1">
                <br>
                <br>
                <br>
                <label for="situation">I </label>
                <input type="text" id="input2">
            </form>
		<div class="boxx" id="boxx"></div>
		<div class="controls">
	      <%= collection_select( :matter, :matter_id, Matter.all, :content, :content) %>
	    </div>
		
        </div>
		<a href="/stories/index">
          <button type="button" class="btn-default2" aria-label="Right Chevron">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
            </span>
          </button>
	    </a>
	</div>
  <script src="javascripts/problems.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="javascripts/bootstrap.min.js"></script>
</body>
</html>

