<!DOCTYPE html>
<html lang=“en”>
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head> 

<body>
  <div class="menubox">
       <a href="#">HOME</a>
       <br>
       <a href="/posts">Submit A Story</a>
       <br>
       <a href="/problems/index">All Stories</a>
       <br>
       <a href="#">Help</a>
  </div>
  <div class="storyspace">
    <div class=box1>
      <p>You Inspire Me</p>
    </div>
    <div class=box2>
      <p>Bravo!</p>
    </div>
    <div class=box3>
      <p>Can relate!</p>
    </div>
    <div class=box4>
      <p>Share</p>
    </div>
    <div class=box5>
         <p> 
	      <br>
		   <br>
		    <br>
			 <br>
			  <br>
			   <br>
			    <br>
			    <br>
		  Story 1 . Red. Red is the color of fire and blood, so it is associated with energy, war, danger, strength, power, determination as well as passion, desire, and love. Red is a very emotionally intense color. It enhances human metabolism, increases respiration rate, and raises blood pressure. </p>
    </div>
    <div class="box6"></div>
    <div class=box7></div>
    <div class=option1>
      <img src="/assets/circle.png" class="img-responsive" id='circ' alt="star">
    </div>
    <div class=option11>
      <img src="/assets/smiley.png" class="img-responsive" id='smil' alt="star">
    </div>
    <div class=option2>
      <img src="/assets/blank.png" class="img-responsive" id='blank' alt="star">
    </div>
    <div class=option21>
      <img src="/assets/star.png" class="img-responsive" id='star' alt="star">
    </div>
    <div class=option3>
    </div>
 </div>
</body>
</html>