.menu {
	position: absolute;
	background-image: url(/assets/heart.jpg);
	height: 700px;
	width: 300px;
	left: -300px;
}

.menu a {
    color: #ffffff;
    font-size: 10px;
}

.menu h1 {
	font-size: 10px;
}

.problemtalk {
    background-image: url(/Users/anu//Desktop/MyWebsite/background.png);
    background-size: 100% 100%;
    height: 600px;
    background-repeat: no-repeat;
}


.bubble {
	width: 250px;
    height: 100px;
    position: absolute;
    top: 200px;
    border-style: ridge;
    border-radius: 30px;
    left: 400px;
    text-align: center;
    font-weight: bold;
    border-color: #66ffff;
    vertical-align: middle;
}

.bubble p {
    line-height: 40px;
}

/* creates part of the curved pointy bit */
.bubble:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -17px;
  left: 30px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #f3961c transparent;

}

.bubble2 {
    display: none;
	width: 250px;
    height: 100px;
    position: absolute;
    top: 50px;
    border-style: ridge;
    border-radius: 30px;
    left: 700px;
    text-align: center;
    font-weight: bold;
    border-color: #66fefe;
}

.bubble2 label {
    position: absolute;
    top: 10px;
    left: 5px;
}

.bubble2 input {
    position: absolute;
    top: 30px;
    left: 10px;
}


/* creates part of the curved pointy bit */
.bubble2:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -17px;
  right: 30px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #f3961c transparent;

}

.bubble3 {
    display: none;
	width: 250px;
    height: 100px;
    position: absolute;
    top: 450px;
    border-style: ridge;
    border-radius: 30px;
    left: 400px;
    text-align: center;
    border-color: #66efef;
}

.bubble3 p {
    line-height: 40px;
}




/* creates part of the curved pointy bit */
.bubble3:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -17px;
  left: 30px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #f3961c transparent;

}

.bubble4 {
    display: none;
	width: 250px;
    height: 200px;
    position: absolute;
    top: 200px;
    border-style: ridge;
    border-radius: 30px;
    left: 700px;
    text-align: center;
    border-color: #66ffee;

}

.bubble4:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -17px;
  right: 30px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #f3961c transparent;

}

.btn-default {
    display: none;
    position: absolute;
    margin-left: 840px;
    margin-top: 15px;
}

.btn-default2 {
    display: none;
    position: absolute;
    margin-left: 840px;
    margin-top: 375px;
}

.clicked {
    color: #66ffee;
}

.clicked2 {
    color: #001a1a;
}

.pr {
    left: 200px;
	top: 50 px;
}
